Welcome <%= @player.name %>
<div ng-app='app.battleshipApp' ng-controller='MoveCtrl' ng-init="init(<%= @player.id %>, <%= @player.game.id %>)">
  <p>{{ welcome }}</p>
  <div ng-show='myTurn'>
    <a href="" ng-click="makeMove()">
      Move <%= @player.name %>
    </a>
  </div>
</div>


